<!DOCTYPE html>
<html lang="en">

<body class="container">

<main>
    <form action='/image-upload' method="POST" enctype="multipart/form-data">
        <input type='text' name='name' />
        <input type='file' name='image'/>
        <button type='submit'>Submit</button>
    </form>
    
</main>



</body>
</html>